/**
 * Import base style
 */
@import "../mall/base.less";

#chat {
	display: none;
}

#settings {
	display: none;
	padding: 3px;
}

#chat div {
	background-color: #181818 ;
	color: white;
	border: 1px solid #aaa;
	border-radius: 10px;
	height:200px;
	overflow: scroll;
	overflow-y: auto;
	overflow-x: auto;
	font-size: small;
	padding: 5px;
	float: left;
}


#log {
	width:80%;
	margin-right: 3px;
}

#users {
	width: 17%
}

#message {
	width: 99%;
	border-radius: 10px;
	padding: 5px;
	margin-top: 5px;
}

.error {
	color: #FF0000; //red
	font-style: italic;
}

.me {
	color: #BF5FFF; //purple
}

.info {
	color: #FFCC00; //yellow
}

.pm {
	color: #00FF00; //green
}

