/**
 * Import base style
 */
@import "../mall/base.less";

#chat {
	display: none;
}

#settings {
	display: none;
}

#log {
	background-color: white;
	border: 1px solid #aaa;
	border-radius: 10px;
	width:99%;
	height:200px;
	overflow: scroll;
	overflow-y: auto;
	overflow-x: auto;
	font-size: small;
	padding: 5px;
}

#message {
	width: 99%;
	border-radius: 10px;
	padding: 5px;
	margin-top: 5px;
}
